<!DOCTYPE html>
<html>
<head>
         {% extends 'base.html' %}  <!-- REQUIRED in every template -->
{% load static %}

    {% block title %}Blood Donation Camps{% endblock %}

</head> 
<body> 
{% block content %}
    <h1>Upcoming Blood Donation Camps bbau</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Organizer</th>
        </tr>
        {% for camp in camps %}
        <tr>
            <td>{{ camp.name }}</td>
            <td>{{ camp.location }}</td>
            <td>{{ camp.date }}</td>
            <td>{{ camp.time }}</td>
            <td>{{ camp.organizer }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
</body>
</html>
